################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/GrpcHelper/bin/Release
/GrpcHelper/obj
/GrpcServer
/AccordTest
